<!-- Begin Header -->
  <header class="main-header" {% if include.bgimg %}style="background: url({{"/assets/img/" | prepend: site.baseurl | append : include.bgimg}}) center right no-repeat; background-size: cover;"{% endif %}>
    <div class="header-wrapper">
      <div class="header-flex">
        <div class="logo-container">
          <a href="{{site.baseurl}}"><img class="logo" src="/assets/img/logo-kim-02.svg" /></a>
        </div>
        <div class="main-nav">
          <div class="nav-item"><a class="nav-item" href="{{site.baseurl}}/blog">Blog</a></div>          
        </div>
      </div>
    </div>
  </header> <!-- End Header -->