body {
    font-family: 'Roboto Slab', serif;
}

div {
    display: block;
}

div#logo {
    height: 480px;
    width: 480px;
    background-image: url("/assets/img/logo-kim-02.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 1%;
}

div.info {
    text-align: center;
}

div.announcement {
    font-size: 4em;
}

div.sns-list {
    width: 14em;
    margin-right: auto;
    margin-left: auto;
}

div.sns {
    margin: 0.6em;
    text-align: left;
}

span.bullet {
    margin-right: 0.7em;
}

a {
    color: #C62828;
}

a:hover {
    color: #C62828;
    background-color: #0D1A21;
}

a:visited {
    color: #C62828;
}


@media only screen and (max-device-width: 768px) and (orientation: portrait) {

   body { 
      font-size: 3em; 
   }

    div#logo {
        margin-top: 17%;
        margin-bottom: 7%;
    }
}
