---
layout: default
---
{% include header.html bgimg="blog-header-bnw.jpg" %}
  <div class="page-image">
    <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : page.img}}) center no-repeat; background-size: cover;"></div>
  </div>
  <div class="wrapper">
    <div class="blog-wrapper">
        <h1>{{page.title}}</h1>
        <div class="meta-data-blog">
          <div>
            <span class="datestamp">{{ page.date | date_to_string }}</span>
            {% if page.note %}<span class="note">{{ page.note }}</span>{% endif %}
          </div>  
          <div>
            {% if page.edited  %}<span class="datestamp update-date">last updated {{ page.edited | date_to_string }}</span>{% endif %}
          </div>
        </div>
        <div class="blog-content">
          {{content}}
        </div>
        <div class="post-tag-container">
          {% for tag in page.tag %}
            <a href="/blog/tag/#{{ tag | slugify }}" class="tag-box"><div>#{{ tag }}</div></a>
          {% endfor %}
        </div>
        <div class="post-comment-container">
          I'm still working on implementing the comments section. While I'm at it, if you have any questions or comments, hit me up on <a href="https://twitter.com/{{site.twitter}}" target="_blank">Twitter</a>, or <a href="mailto:{{site.email}}">send me an email</a>!
        </div>
    </div>
  </div>
{% include footer.html sticky="no" %}